
/* toggle box borders for styling check */

.box {
  border: 1px dotted green;
}

/* Common font style characteristics utilized for TeaCozy Site */

* {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

h2,
h3,
h4 {
  display: block;
  font-weight: bold;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 12.8px;
}

/* Default html body characteristics */

body {
  margin: 0;
}

/* Header section */

header {
  border-bottom: 1px solid seashell;
  position: fixed;
  height: 50px;
  width: 100%;
  padding: 9px 10px;
  display: flex;
  flex-flow: nowrap row;
  justify-content: flex-start;
  align-items: center;
  z-index: 20;
}

.logo {
  display: inline-block;
  text-align: left;
  flex-grow: 1;
  height: 50px;
}

.logo img {
  height: 50px;
  width: auto;
}

.navlinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: wrap row;
  height: 50px;
  margin: 0 10px;
}

.navlinks span {
  display: inline-flex;
  padding: 0 10px;
}

/* MAIN SECTION */

/* Beginning of the main section with 3 main containters - mission, featured, locations */

main {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  min-width: 1200px;
}

/* the main container class - utilize for each new section added to website then manipulate */

.maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  padding-top: 69px;
  align-items: center;
}

/* Utilize below for text sections when needed throughout site*/

.spanh {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 0;
}

.bannertextbg {
    min-width: 1200px;
}

/*Main section, Container 1: Mission*/

.missionsection {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
}

.missionstatement {
  display: flex;
  flex-direction: column;
}

/*Main section, Container 2: featured teas (includes 2 sections: a. title and b. types of teas and their pics) */
/*featured tea - a) title*/
.featuredsection {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*featured tea - a) types of teas*/
.teatyperow {
  display: inline-flex;
  flex-flow: nowrap row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-shrink: 0;
}

.picplusname {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding: 0 25px;
}

.picplusname img {
  display: inline-block;
  height: 200px;
  width: 300px;
  margin-bottom: 1px;
}

/*Main section, Container 3: Location (includes 2 sections: a. title and b. the locations) */

.locationsection {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transparentbg {
  background-color: transparent;
}

.locplusaddress {
  background: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.locaddress {
  opacity: 1.0;
  background-color: black;
  min-width: 300px;
  margin: 15px 20px 0 20px;
  padding-bottom: 10px;
}

.locaddress h3,
.locaddress p {
  padding: 20px;
}
